@import 'variables';
@import 'breakpoints';
footer {
    background-color: $gray-light;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 10%;
  padding-block: 10px;

  @include respond-sm {
    padding-inline: 10px;
    padding-block: 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  div {
    width: 120px;
    height: 60px;

    @include respond-sm {
      width: 80px;
      height: 40px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  p {
    font-weight: bolder;
  }
}
