@import 'breakpoints';

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

section{
  flex: 1;
  width: 80%;
  margin: 0 auto;

  @include respond-sm {
    // width: 100%;
    padding: 16px;
  }

  @include respond-md {
    // width: 100%;
    padding-inline: 20px;
  }
}
